<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
		<img class="logo" src="logo.jpg" width="" height="" alt="logo">
		<map name="logo">
			<area shape="default" coords="20,0 ,270,0, 270,70, 20,70" alt="logo" href="index.html">
		</map>
		<nav>
            <a href="{{ url_for('index')}}">Home</a> ||
            <a href="{{ url_for('get_posts')}}">My Posts</a> ||
            <a href="{{ url_for('addPost')}}">Add Post</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>


	</header>


        <h1>Welcome {{user}} to Python Matrix Q&A Forum</h1>
        {% if post %}
        <form action="{{url_for('update_post', post_id=post.id) }}" method="post">
        {% else %}
            <form action="addPost" method="post">
        {% endif %}
           <p><label>Title </label></p>
            <p><input type="text" name="title" value= "{% if post %} {{post.title}} {% endif %}"/></p>
            <p><label>Post </label></p>
            <p>
                <textarea name="postText"  rows="6" cols="0" >
                    {% if post %}
                        {{post.text}}
                    {% else %}
                        Add your new Post here ...
                    {% endif %}

                </textarea>
            </p>
            <p>
                {% if post %}
                    <input type="submit" value="Update Post"/>
                {% else %}
                    <input type="submit" value="Add Post"/>
                {% endif %}
            </p>
        </form>



	

</body>	
</html>
