<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ css }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
		<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>
		<nav>
            <ul class="nav-links">
                <li><a class="links" href="{{ url_for('index')}}">Home</a></li>
                <li><a class="links" href="{{ url_for('get_posts')}}">My Posts</a></li>
                <li><a class="links" href="{{ url_for('myAccount') }}"> My Account</a></li>
                <li><a class="links" href="{{ url_for('addPost')}}">Create Post</a></li>
                <li><a class="links" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>


	</header>


<!--        <h1 class="welcome">Welcome {{user}} to Python Matrix Q&A Forum</h1>-->
        {% if post %}
        <form class="form1" action="{{url_for('update_post', post_id=post.id) }}" method="post">
        {% else %}
            <form class="form1" action="addPost" method="post">
        {% endif %}
                <ul>
                   <li>
                       <label for="title">Title</label>
                        <input id="title" type="text" name="title" value= "{% if post %} {{post.title}} {% endif %}"/>
                   </li><br><br>
                    <li><label for="content">Content</label>
                        <textarea id="content" name="postText"  rows="6" cols="35" >{% if post %}{{post.text}}{% else %}Content{% endif %}</textarea>
                    </li><br><br>
                    <li><label for="img">Add Image Here</label>
                        <textarea id="img" name="img" >{% if post %}{{post.img}}{% else %}Add Image{% endif %}</textarea>
                    </li>
                    <li>
                        {% if post %}
                            <input class="submit1" type="submit" value="Update Post"/>
                        {% else %}
                            <input class="submit1" type="submit" value="Add Post"/>
                        {% endif %}
                    </li>
                </ul>
        </form>

    <footer>
            <ul>
                <li>© Python Matrix</li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a><li>
            </ul>
    </footer>



</body>
</html>
