<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ css }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
		<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>
			<nav>
				<ul class="nav-links">
					{% if user %}
					<li><a href="{{ url_for('index') }}">Home</a></li>
					{% else %}
					<li><a class="links" href="{{ url_for('login') }}"><button>Login</button></a></li>
					<li><a class="links" href="{{ url_for('register') }}"><button>Register</button></a></li>
					{% endif %}
				</ul>
			</nav>
	</header><!--End of header -->
	<main class="welcome"><!--Start of main -->

		<h1>Contact Us</h1>
		<h3>Address: 1201 Finwood Road, Charlotte NC 28269</h3>
		<h3>Phone: (000)000-0000</h3>

	</main><!--End of main -->

	<footer>
        <ul>
            <li>© Python Matrix</li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>
</body>
</html>
