<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
			<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>

			{% if user %}
            <nav>
                <ul class="nav-links">
                    <li><a class="links" href="{{ url_for('get_posts') }}"> My Posts</a></li>
                    <li><a class="links" href="{{ url_for('addPost') }}">Create</a></li>
                    <li><a class="links" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>

            </nav>
        {% else %}
            <nav>
                <ul class="nav-links">
                    <li><a class="links" href="{{ url_for('login') }}"><button>Sign In</button></a></li>
                    <li><a class="links" href="{{ url_for('register') }}"><button>Register</button></a></li>
                </ul>
            </nav>
        {% endif %}
	</header>
	<main>
	<h1 class="welcome">Welcome {{user}} to Python Matrix Q&A Forum</h1>

        {% if(user) %}
            <h2 class="welcome2">Listing Posts</h2>

          <!--<table>
              <tr>
                <th>Title</th><br>
                <th>Date</th>
              </tr>
              {% for post in posts %}
              <tr>
                <td>
                  <a href="{{ url_for('get_post', post_id=post.id) }}">{{post.title}}</a>
                </td>
                <td>{{post.date}}</td>


              </tr>
              {% endfor %}
            </table>-->
        {% endif %}

        {% for post in posts %}
            <a class="a2" href="{{ url_for('get_post', post_id=post.id) }}"><b>{{post.title}}</b></a><br>
            <div class="a2">Created on:{{post.date}}<br>View Count-{{ post.view_count }}<br>Created By-{{post.user.first_name}}</div> <br>


	    {% endfor %}
	</main>
	<footer>
        <ul>
            <li>© Python Matrix</li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>

</body>
</html>
