<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ css }}" id="stylesheet">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
			<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>

			{% if user %}
            <nav>
                <ul class="nav-links">
                    <li><div class="form2">
                        <form action="{{ url_for('index', css=css) }}" method="post">
                        <div>
                            {{ form.submit10 }}
                        </div>
                        </form>
                    </div></li>
                    <li><a class="links" href="{{ url_for('get_posts') }}"> My Posts</a></li>
                    <li><a class="links" href="{{ url_for('myAccount') }}"> My Account</a></li>
                    <li><a class="links" href="{{ url_for('addPost') }}">Create Post</a></li>
                    <li><a class="links" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>

            </nav>
        {% else %}
            <nav>
                <ul class="nav-links">
                    <li><a class="links" href="{{ url_for('login') }}"><button>Sign In</button></a></li>
                    <li><a class="links" href="{{ url_for('register') }}"><button>Register</button></a></li>
                </ul>
            </nav>
        {% endif %}
	</header>
	<main>
        <h1 class="welcome">Welcome {% if user %}{{ user1.first_name }}{% endif %} to the Python Matrix Posts App!</h1>

        {% if user %}

<!--        <div class="form2">-->
<!--        <form action="{{ url_for('index', css=css) }}" method="post">-->

<!--        <div>-->
<!--            {{ form.submit10 }}-->

<!--        </div>-->

<!--        </form>-->
<!--             </div>-->


        {% endif %}

        {% if(user) %}
            <h2 class="welcome2">Listing Posts</h2>
        {% endif %}



        {% for post in posts %}
            <a class="a2" href="{{ url_for('get_post', post_id=post.id) }}"><b>{{post.title}}</b></a><br>
            <div class="a2">Created on:{{post.date}}<br>View Count-{{ post.view_count }}<br>Created By-{{post.user.first_name}}</div> <br>


	    {% endfor %}
	</main>
	<footer>
        <ul>
            <li>© Python Matrix</li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>

</body>
</html>
