<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
			<img class="logo" src="logo.jpg" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="20,0 ,270,0, 270,70, 20,70" alt="logo" href="index.html">
            </map>

			{% if user %}
            <nav>

            <a href="{{ url_for('get_posts') }}"> My Posts</a> ||
            <a href="{{ url_for('addPost') }}">Add Post</a> ||
                <a href="{{ url_for('logout') }}">Logout</a>


            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('login') }}">Sign In</a>
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}
	</header><!--End of header -->
	<main><!--Start of main -->	
	<h1>Welcome {{user}} to Python Matrix Q&A Forum</h1>
	</main><!--End of main -->
	

</body>	
</html>
