<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
		<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>

            {% if user %}
            <nav>
                <ul class="nav-links">
                    <li><a class="links" href="{{ url_for('logout') }}"><button>Logout</button></a></li>
                </ul>
            </nav>
        {% else %}
            <nav>
                <ul  class="nav-links">
                    <li><a class="links" href="{{ url_for('login') }}"><button>Sign In</button></a></li>
                    <li><a class="links" href="{{ url_for('register') }}"><button>Register</button></a></li>
                </ul>
            </nav>

        {% endif %}

    </header>

        <h1 class="welcome">Welcome {% if user %}{{user}}{% endif %}to the Python Matrix Posts App!</h1>

        <h2 class="welcome">Use this site to maintain and organize your Posts.</h2>
        <div >
            <h2 class="welcome">Login</h2>
            <form method="POST" action="/login">
                <div class="form-field">{{ form.email.label }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errors">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}
                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>
	<footer>
        <ul>
            <li>© Python Matrix</li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>

</body>
</html>
