<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ css }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
			<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>
			{% if user %}
            <nav>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a class="links" href="{{ url_for('get_posts') }}"> My Posts</a></li>
                    <li><a class="links" href="{{ url_for('myAccount') }}"> My Account</a></li>
                    <li><a class="links" href="{{ url_for('addPost') }}">Create Post</a></li>
                    <li><a class="links" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        {% else %}
            <nav>
                <ul class="nav-links">
                    <li><a class="links" href="{{ url_for('login') }}"><button>Sign In</button></a></li>
                    <li><a class="links" href="{{ url_for('register') }}"><button>Register</button></a></li>
                </ul>
            </nav>
        {% endif %}
	</header><!--End of header -->
	<main><!--Start of main -->
	<h1 class="welcome2" >My Account</h1>

<!--        <div class = "FirstNameIntro">-->
<!--            <strong>-->
<!--                First Name:-->
<!--            </strong>-->
<!--           <div class = "firstName">-->
<!--               {{user.first_name}}-->
<!--           </div>-->
<!--       </div>-->
<!--        <br>-->
<!--        <div class = "LastNameIntro">-->
<!--            <strong>-->
<!--                Last Name:-->
<!--            </strong>-->
<!--           <div class = "lastName">-->
<!--               {{user.last_name}}-->
<!--           </div>-->
<!--       </div>-->
<!--        <br>-->
<!--        <div class = "emailIntro">-->
<!--            <strong>-->
<!--                Email:-->
<!--            </strong>-->
<!--            <div class = "emailHere">-->
<!--                {{user.email}}-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--        <div class = "postIntro">-->
<!--            <strong>-->
<!--            Number of Posts:-->
<!--            </strong>-->
<!--            <div class = "PostHere">-->
<!--                {{numposts}}-->
<!--            </div>-->



        <div class="a2">

            <strong>
                First Name
                <br>
            </strong>
               {{user.first_name}}


        <br>
        <br>

            <strong>
                Last Name
                <br>
            </strong>

               {{user.last_name}}

        <br>
        <br>

            <strong>
                Email
                <br>
            </strong>

                {{user.email}}

        <br>
        <br>

            <strong>
            Number of Posts
                <br>
            </strong>

                {{numposts}}

            <br>
            <br>

            <a class="links" href="{{ url_for('edit_account') }}"><button id = "editAccountButton">Edit Account</button></a>
        </div>




	</main><!--End of main -->
	<footer>
        <ul>
            <li>© Python Matrix</li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>

</body>
</html>

