<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ css }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
		<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>
		<nav>
            <ul class="nav-links">
                <li><a class="links" href="{{ url_for('index')}}">Home</a></li>
                <li><a class="links" href="{{ url_for('get_posts')}}">My Posts</a></li>
                <li><a class="links" href="{{ url_for('addPost')}}">Create</a></li>
                <li><a class="links" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>


	</header>


        <h1 class="welcome" >Welcome {{user}} to Python Matrix Q&A Forum</h1>

        <form class="form1" action="report" method="post">

                <ul>
                   <li>
                        <label for="issue">Issue</label>
                        <input id="issue" type="text" name="issue" value= "{% if report %} {{report.issue}} {% endif %}"/>
                   </li><br><br>
                    <li><label for="content">Content</label>
                        <textarea id="content" name="content"  rows="6" cols="35" >{% if report %}{{report.content}}{% else %}Content{% endif %}</textarea>
                    </li><br><br>
                    <li>
                            <input class="submit1" type="submit" value="Submit Report"/>
                    </li>
                </ul>
        </form>

    <footer>
            <ul>
                <li>© Python Matrix</li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
            </ul>
        </footer>



</body>
</html>
