<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
			<img class="logo" src="logo.jpg" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="20,0 ,270,0, 270,70, 20,70" alt="logo" href="index.html">
            </map>
			<nav>
				<ul class="nav-links">
					<li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('addPost') }}">Create</a></li>
					<li><a href="{{ url_for('login') }}">Login</a></li>
					<li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
				</ul>
			</nav>
	</header><!--End of header -->
	<main><!--Start of main -->	
		<form action='/index.html' method='POST'>
			<ul>
				<li>
					<label for="email">Email</label>
					<input type="text" id="email" name="email">
				</li><br><br>
				<li>
					<label for="username">Username</label>
					<input type="text" id="username" name="username">
				</li><br><br>			
				<li>
					<label for="password">Password</label>
					<input type="text" id="password" name="password">
				</li><br><br>
				<li>
					<label for="cpassword">Confirm Password</label>
					<input type="text" id="cpassword" name="cpassword">
				</li><br><br>
			</ul>
		</form><br><br>
		<input class="submit1" type="submit" value="Sign Up">
	</main><!--End of main -->
	
	<footer>
        <ul>
            <li>© Python Matrix</li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>
</body>	
</html>
