<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
			<img class="logo" src="logo.jpg" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="20,0 ,270,0, 270,70, 20,70" alt="logo" href="index.html">
            </map>
			<nav>
				<ul class="nav-links">
					<li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('addPost') }}">Create</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</nav>
	</header><!--End of header -->

	<h1>Welcome {{user}} to Python Matrix Q&A Forum</h1>
		<h2>Listing Posts</h2>
		<table>
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
      {% for post in posts %}
      <tr>
        <td>
          <a href="{{ url_for('get_post', post_id=post.id) }}">{{post.title}}</a>
        </td>
        <td>{{post.date}}</td>
        <td>
          <a href="{{ url_for('update_post', post_id=post.id) }}">Edit</a>
        </td>
        <td>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>



</body>
</html>
