<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
   <meta charset="UTF-8">
   <title>Python Matrix</title>
   <link rel="stylesheet" href="{{ css }}">
</head><!--End of head element -->
<body>
   <header><!--Start of header -->
         <img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>
         <nav>
            <ul class="nav-links">
               <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a class="links" href="{{ url_for('myAccount') }}"> My Account</a></li>
                    <li><a href="{{ url_for('addPost') }}">Create Post</a></li>
               <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
         </nav>
   </header><!--End of header -->

<!--   <h1 class="welcome">Welcome {{user}} to Python Matrix Q&A Forum</h1>-->
      <h2 class="welcome2">Listing Posts</h2>
      <!--<table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.text}}</td>
                <td>{{post.date}}</td>
            </tr>
        </table>-->

        <div class="a2" text-align="center"><b>Title:</b> {{post.title}}</div><br>
        <div class="a2"><b>Content:</b> {{post.text}}</div><br>
        <div class="a2"><b>Created on:</b> {{post.date}}</div><br>
<!--            <tr>-->
<!--                {% if post.img != "Add Image" %}-->
                <img src="{{ post.img }}" class = "img">

<!--                {% endif %}-->
<!--            </tr>-->
        {% if post.comments %}
  {% if post.comments|length > 0 %}
    <h2 class="welcome2">Comments</h2>
    <ul class="a3">

    {% for comment in post.comments %}
      <li>{{ comment.content }} - {{comment.user.first_name}}</li><br><br>
    {% endfor %}

    </ul>
  {% endif %}
{% endif %}
<div class="form2">
<form action="{{ url_for('new_comment', post_id=post.id) }}" method="post">
  <div class="formwrapper">
    <h2 class="welcome2">Add&nbspa&nbspcomment</h2>
    <div class="form-field">
      {{ form.comment.label }} <br/> {{ form.comment }}
    </div>
    <div class="commentSubmit">
      {{ form.submit }}
    </div>
  </div>
</form>
</div>

<h2 class="welcome2">View Count-{{ post.view_count }}</h2>

   <a href="{{ url_for('report_post', post_id=post.id) }}" method="POST"><button class="reportButton">Report</button></a>

<footer>
        <ul>
            <li>© Python Matrix</li>
           <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>

</body>

</html>
