<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
	<meta charset="UTF-8">
	<title>Python Matrix</title>
	<link rel="stylesheet" href="{{ css }}">
</head><!--End of head element -->
<body>
	<header><!--Start of header -->
			<img class="logo" usemap="#logo"  src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
			<map name="logo">
                <area shape="default" coords="30,20 ,210,20, 210,90, 30,90" alt="logo" href="{{ url_for('index') }}">
            </map>
			<nav>
				<ul class="nav-links">
					<li><a class="links" href="{{ url_for('index') }}">Home</a></li>
                    <li><a class="links" href="{{ url_for('myAccount') }}"> My Account</a></li>
                    <li><a class="links" href="{{ url_for('addPost') }}">Create Post</a></li>
                    <li><a class="links" href="{{ url_for('logout') }}">Logout</a></li>
				</ul>
			</nav>
	</header><!--End of header -->

<!--	<h1 class="welcome">Welcome {{user}} to Python Matrix Q&A Forum</h1>-->
		<h2 class="welcome2">Listing Posts</h2>
		<!--<table>
      <tr>
        <th>Title</th><br>
        <th>Date</th>
      </tr>
      {% for post in posts %}
      <tr>
        <td>
          <a href="{{ url_for('get_post', post_id=post.id) }}">{{post.title}}</a>
        </td>
        <td>{{post.date}}</td>
        <td>Views - {{post.view_count}}</td>
        <td>
          <a href="{{ url_for('update_post', post_id=post.id) }}"><button>Edit</button></a>
        </td>
        <td>
            <div class="form2">
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="submit3" type="submit" value="Delete" />
          </form>
                </div>
        </td>
      </tr>
      {% endfor %}
    </table>-->

    {% for post in posts %}

        <a class="a2" href="{{ url_for('get_post', post_id=post.id) }}">{{post.title}}</a><br>
        <div class="a2">Created on:{{post.date}}<br>View Count-{{ post.view_count }}</div>

        <table>
          <td><a class="a2" href="{{ url_for('update_post', post_id=post.id) }}"><button id="editButton">Edit</button></a></td>
          <td><div class="form2">
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
<!--                  <input id="deleteButton" class="submit3" type="submit" value="Delete" />-->
                    <button id="deleteButton" class="submit3" type="submit">Delete</button>
                </form>
            </div>
          </td>
<!--            <td>-->
<!--                <img src="{{ post.img }}" class = "img">-->
<!--            </td>-->
      </table><br>
	{% endfor %}

    <footer>
        <ul>
            <li>© Python Matrix</li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>

</body>

</html>
