<!DOCTYPE html>
<html lang="en">
<head><!--Start of head element -->
   <meta charset="UTF-8">
   <title>Python Matrix</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head><!--End of head element -->
<body>
   <header><!--Start of header -->
         <img class="logo" src="{{ url_for('static', filename='logo.jpg') }}" width="" height="" alt="logo">
         <map name="logo">
                <area shape="default" coords="20,0 ,270,0, 270,70, 20,70" alt="logo" href="index.html">
            </map>
         <nav>
            <ul class="nav-links">
               <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('addPost') }}">Create</a></li>
               <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
         </nav>
   </header><!--End of header -->

   <h1>Welcome {{user}} to Python Matrix Q&A Forum</h1>
      <h2>Listing Posts</h2>
      <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.text}}</td>
                <td>{{post.date}}</td>
            </tr>
        </table>

        {% if post.comments %}
  {% if post.comments|length > 0 %}
    <h2>Comments</h2>
    <ul>
    {% for comment in post.comments %}
      <li>{{ comment.content }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endif %}
<form action="{{ url_for('new_comment', post_id=post.id) }}" method="post">
  <div class="formwrapper">
    <h2 class="title">Add a comment</h2>
    <div class="form-field">
      {{ form.comment.label }} <br/> {{ form.comment }}
    </div>
    {{ form.submit }}
  </div>
</form>
<h2>View Count-{{ post.view_count }}</h2>
<footer>
        <ul>
            <li>© Python Matrix</li>
           <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a><li>
		</ul>
	</footer>


</body>
</html>